:root {
    --text-dark: #000;
    --text-bright: #f8f8f8;
    --background: #ffe8d6;

    /* UI (buttons, input, ... */
    --ui1: #cb997e;
    --ui2: #ddbea9;

    /* Nav (Navbar, back, ...) */
    --nav1: #b7b7a4;
    --nav2: #a5a58d;
    --nav3: #6b705c;
}

#main {
  margin-left: 10%;
  margin-right: 10%;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-dark, #000);
    margin: 0;
    background-color: var(--background, #fff);
}

.save-button {
    background-color: var(--ui1, #cb997e);
    color: var(--text-bright, #fff);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border: 0.2rem solid var(--ui2, #ddbea9)
}

.s-b-small {
  padding: 8px 20px;
}

/* Navbar */

.topnav {
  overflow: hidden;
  background-color: var(--nav2, #a5a58d);
}

.topnav a {
  float: left;
  display: block;
  color: var(--text-bright, #fff);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--nav1, #b7b7a4);
  color: var(--text-dark, #000);
}

.topnav a.active {
  background-color: var(--nav3, #6b705c);
  color: var(--text-bright, #fff);
}






/* FANCY INPUT */
/* https://codepen.io/melnik909/pen/BZpJLN?editors=1100 */

.field__input{ 
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #da7f7f);
    
    background-color: transparent;
    border-radius: 0;
    border: none;
  
    -webkit-appearance: none;
    -moz-appearance: none;
  
    font-family: inherit;
    font-size: inherit;
  }
  
  .field__input:focus::-webkit-input-placeholder{
    color: var(--uiFieldPlaceholderColor);
  }
  
  .field__input:focus::-moz-placeholder{
    color: var(--uiFieldPlaceholderColor);
  }
  
  /*
  =====
  CORE STYLES
  =====
  */
  
  .field{
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 0.3rem);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 0.3rem);   
    --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgb(60, 60, 60));
  
    display: var(--fieldDisplay, inline-flex);
    position: relative;
    font-size: var(--fieldFontSize, 1rem);
  }
  
  .field__input{
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3rem);
    padding: var(--fieldPaddingTop, 3rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));  
  }
  
  .field__input:focus{
    outline: none;
  }
  
  .field__input::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
  }
  
  .field__input::-moz-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
  }
  
  .field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
  }
  
  .field__input:focus::-moz-placeholder{
    opacity: 1;
    transition-delay: .2s;
  }
  
  .field__label-wrap{
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;
  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .field__label-wrap::after{
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;
  
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .field__input:focus ~ .field__label-wrap::after{
    opacity: 1;
  }
  
  .field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    top: calc(50% - .5em);
  
    line-height: 1;
    font-size: var(--fieldHintFontSize, inherit);
  
    transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
    will-change: bottom, opacity, font-size;
  }
  
  .field__input:focus ~ .field__label-wrap .field__label,
  .field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
    --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);
  
    top: var(--fieldHintTopHover, .3rem);
  }
  
  /* 
  effect 2
  */
  
  .field_v1 .field__label-wrap::after{
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transition: opacity .2s ease-out;
    will-change: opacity;
  }
  
  /*
  =====
  LEVEL 4. SETTINGS
  =====
  */
  
  .field{
    --fieldBorderColor: var(--ui2, #ddbea9); /* Inactive line */
    --fieldBorderColorActive: var(--ui1, #cb997e); /* Active line */
    --fieldPlaceholderColor: rgb(60, 60, 60); 
    --fieldWidth: 250px; /* How wide the field is */
    --fieldPaddingRight: 0.3rem; 
    --fieldPaddingLeft: 0.3rem;
    --fieldBorderWidth: 2px;
    --fieldHintTopHover: .4rem /* How high the hints are */
    
}